.account-form-section {
  width: $mainSectionWidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-form {
  flex: 0 45%;
}

.btn-primary, .btn-success {
  margin-top: 1em;
}
