header {
  margin-bottom: 20px; // px used to match bootstrap
  padding-top: 20px; // px used to match bootstrap

  h1 {
    font-family: 'Lora', serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.glyphicon-send {
  margin-right: 1em;
}
