.newthought-form {
  width: 63%;
  margin: auto;
}

.newthought-main {
  width: $mainSectionWidth;
  margin: auto;
  display: none
}

.newthought-section {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
